@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&family=Source+Code+Pro:ital@1&display=swap');
* {
  margin: 0px;
  padding: 0px;
}
.container {
  display: flex;
 
}
.sidebar {
  
    position: absolute;
  height: 100%;
  background-color:#c0a468;
  font-family: "Fira Sans", sans-serif;
  transition: transform 0.3s ease-in;
}
.sidebar nav {
  padding: 30px;
  font-size: 22px;
}
.main {
  width: 82vw;
 
}
nav ul a {
  text-decoration: none;
  color: black;
}
nav ul a:hover{
  color: white;
}
nav ul li {
  list-style-type: none;
  padding: 25px;
}

.infoContainer {
  
  height: 70vh;
  width: 70vw;
  margin: 100px auto;
  display: flex;
  justify-content: space-around;
}

.devPic img {
  position: relative;
  right: -230px;
  height: 70vh;
  border-radius: 50%;
  

}

.devInfo{
  font-size: 17px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
}
.hello{
    font-size: 3em;
}
.name{
    font-size: 3em;
    font-family: "Fira Sans", sans-serif;
    font-weight: bold;
    color: #c0a468;
}
.typed-cursor{
  opacity: 0;
}
.about{
    font-size: 2em;
}
.button button{
    margin-top: 2.2em ;
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 1em;
    font-weight: bold;
    background-color: #c0a468;
    color: white;
    cursor: pointer;
}
.button button:hover{
    color: #c0a468;
    background-color: white;
}
.button button::after{
    color: #c0a468;
    background-color: white;
}

/* Contact Form Style */
.contactform{
  padding: 0px 35px;
  font-family: "Fira Sans", sans-serif;
  margin: 20px 100px;
}

.contactform h1{
  font-family: 'Source Code Pro', monospace;
  text-align: center;
}

.contactform form div{
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
}

#emailHelp{
  font-size: 10px;
  margin: 0px 5px;
  color: gray;
}
.form-control{
  width: 20vw;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;

}
.textarea{
  width: 50vw;
  height: 30vh;
}

.btn{
   
    margin-top: 30px ;
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: bold;
    background-color: #c0a468;
    color: white;
    cursor: pointer;
}


/* Blog Page Style*/
.blogItem{
  margin: 20px;
  font-family: "Fira Sans", sans-serif;
}

.blogItem p{
  font-family: 'Source Code Pro', monospace;
}
.blogContainer{
  margin: 0px 100px;
}
.blogContainer h1{
  font-family: "Fira Sans", sans-serif;
  margin: 30px;
}
/*About me*/
.profile img{
  float: left;
  margin-right: 20px;
  width: 18%;
  border-radius: 10px;
}
.logo img{
  float: right;
  width: 7%;
  margin: 10px;
}
.socialMedia img{
  width: 3%;
  padding-right: 20px;
}
.socialMedia{
  display: flex;
  flex-direction: column;
}
.socialMedia a{
  text-decoration: none;
  color: black;
  margin: 5px;
  
}

.projects a{
  text-decoration: none;
  font-family: "Fira Sans", sans-serif;
  font-size: larger;
  padding: 25px;
}
.projects a:hover{
  color: #c0a468;
}

.intro{
  margin: 100px;
}
.intro h1{
  font-family: "Fira Sans", sans-serif;
  margin: 30px;
}
.intro p{
  margin: 30px;
  font-size: larger;
  font-family: 'Source Code Pro', monospace;
}

.intro h2{
  font-family: "Fira Sans", sans-serif;
  margin: 30px;
}

.skill{
  margin-left: 5px;
  width: 15vw;
  height: 5px;
 
}

.skillContainer{
  padding: 12px;
  font-size: 20px;
  font-family: 'Source Code Pro', monospace;
  font-weight: bold;
}

.skillItem{
  display: flex;
  align-items: center;
}

.hundred{
  width:15vw;
  background-color: brown
}
.s5
{
  width: 11vw ;
  background-color: royalblue
}
.fifty{
  width: 7.5vw;
  background-color: rgb(210, 210, 4)
}
.t5{
  width: 4vw;
  background-color: orange
}
.ham{
  width: 25px;
  position: absolute;
  cursor: pointer;
  top: 10px;
  left: 10px;
}
.cross{
  width: 25px;
  position: absolute;
  cursor: pointer;
  top: 10px;
  left: 150px;
}
.sidebarGo{
  transform: translate(-320px,0px);
  position: absolute;
}

footer{
  text-align: center;
  padding: 15px;
  color:white;
  background-color: #c0a468;
  position: fixed;
  bottom: 0px;
  width: 100%;
}


@media all and (max-width:900px) {
  
  .devPic img
  {
   
   height: 50vh;
   top: 30rem;
   right: 10rem;

  }
  .devInfo{
    font-size: 10px;
  }
  .contactform,.blogContainer,.intro{
      margin: 50px 10px;
  }
  .btn,.button{
    font-size: 10px;
  }
}

/*

*/